# Saylani Sunday 9-12  Classes Work

# Class 02

## Veriables
- String
- Integer
- Float
- Bolean

In [1]:
name = "python" #anything written in inverted comma will be executed as string
print(name)
type(name) #type is a command in python to check data types

python

str

In [2]:
age = 25 #here 25 is integer it would interpreted as a integer
print(age)
type(age) #type is a command in python to check data types

25

int

In [3]:
height = 60.055 #point between integers is a float
print(height)
type(height) #type is a command in python to check data types

60.055

float

In [4]:
is_present =True # bolean has only True or False
print(is_present)
type(is_present) #type is a command in python to check data types

True

bool

## Operators
- Addition
- Subtraction
- Multiplication
- Division
- Power
- Floor
- Ceil

In [5]:
Addition = 2+2 # in which we perform Addition
print(Addition)

4

In [6]:
Subtraction = 4-2 # in which we perform Sutraction
print(Subtraction)

2

In [7]:
Multiplication = 4*2 #  in which we perform multiplication
print(Multiplication)

8

In [8]:
Division = 4/2 # in which we perform Division
print(Division) #Division always return result in float use--- x = int(4/2)---it will return integer

2.0

In [9]:
floor = 5//2 #in this code we perform floor
print(floor)

2

In [10]:
# For Ceil we need to import library called Math
import math
math.ceil(5/2)

3

## More Operators
- %  -modulus
- incriment operators

In [11]:
modulus = 9%2 #modulus return remaining
print(modulus)

1

In [12]:
x = 10

In [13]:
x += 10 #it will add 10 more in x veriables
print(x)

20

In [14]:
x -= 10 #it will minus 10 
print(x)

10

In [15]:
x *= 10 #it will multiply x with 10
print(x)

100

In [16]:
x /= 10 # it will devide xx by 10

In [17]:
x

10.0

## Expression

In [18]:
2+3*4/2 

# 1st division
# 2nd multiplication
# 3rd addition

8.0

In [19]:
(2+3)+(4-2)*4/2 #bracket will be solved first
# 1st division
# 2nd multiplication
# 3rd addition

9.0

In [20]:
1+(3-2)+2**4 #power will be solved first

18

In [21]:
((2*4)*4)+2 #inner bracket will be solved first

34

## Concatenation

In [22]:
"Saif","Ullah" ##tis methond turn string into tuple

('Saif', 'Ullah')

In [23]:
print("Saif", "Ullah")

Saif Ullah

In [24]:
# AS we describe veriables before we use it here
name, age, height, is_present
#this also turn it into tupple

('python', 25, 60.055, True)

In [25]:
#METHOD:1 Concatenation with, (,)
print("Student name is :",name)
print("Student age is:", age)
print("Is Student is :", is_present)

Student name is : python
Student age is: 25
Is Student is : True

In [26]:
#METHOD:1 Concatenation with,(+)
print("Student name is :"+str(name))
print("Student age is:"+ str(age))
print("Is Student is :" +str(is_present))

Student name is :python
Student age is:25
Is Student is :True

In [27]:
#METHOD:1 Concatenation with, (f)
print(f"Student Name:{name}")
print(f"Student Age:{age}")
print(f"Student is Present: {is_present}")

#it is most useful and most frequent used methods

Student Name:python
Student Age:25
Student is Present: True